:root{
    --mainBlue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
    --mainGray:rgb(143, 141, 141);
}
body{
    font-family: "Oswald" , sans-serif;
    background: var(--mainWhite);
    color:var(--mainDark);
}
.text-title{
    font-family: 'Open Sans', sans-serif;
    letter-spacing:0.3rem;
    text-transform: uppercase;
}
.text-blue{
    color:var(--mainBlue);
}
.text-bright{
    color:var(--lightBlue);
}
.btn-black{
	border:0.1rem solid var(--mainDark);
	background:transparent;
	color:var(--mainDark) !important;
	text-transform: uppercase;
	border-radius: 0 !important;
	font-size: 0.8rem !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	line-height: 40px;
padding: 0 !important;
width:40px;
height:40px;
}
.btn-black:hover{
	background:var(--mainBlue);
	color:var(--mainWhite) !important;
}
.cart-icon{
	color:var(--mainYellow);
	font-size:1.4rem;
}